body {
    font-family: Arial, sans-serif;
    background-color: #1b3d1b;
    color: #ffffff;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: #a3c293;
}

h2 {
    color: #cde8b2;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #2c5f2c;
    margin: 10px auto;
    padding: 15px;
    border-radius: 8px;
    width: 60%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

h3 {
    color: #e0f8d8;
}

p {
    color: #d4e9d4;
}

.card{
    text-align: center;
}
.post-meta {
    
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
 a{
    text-decoration: none;
 }